.cardCont{
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 230px;
    text-align: center;
    font-family: 'Dosis', sans-serif;

}

.cardHead{
    background-color: #abb2b9;
    height: 100%;
    color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardCont h1{
    font-weight: 900;
    font-size: 19px;
}
.cardImg{
    /* background-image: vS; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 500%;
    position: relative;
}
.cardFoot{
    background-color: #e4e8e9;
    height: 100%;
    color: #2f4052;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

@media only screen and (max-width:440px){

    .cardCont{     width: 150px;
    }
}
.quote{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: 1s ease-in-out;
    background-color: rgb(197, 228, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
}
.quote:hover{
    opacity: 1;
}